<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
     <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="Bit" value="https://www.myget.org/F/bit-foundation/api/v3/index.json" />
    <add key="Syncfusion" value="https://nuget.syncfusion.com/nuget_xamarin/nuget/getsyncfusionpackages/xamarin" />
  </packageSources>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
</configuration>
